# Root environment files
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/settings.json

# Python cache
__pycache__/
*.pyc

# Build output
build/
dist/
coverage/
